/TODO.txt
composer.lock
.vagrant
puphpet
Vagrantfile
.directory
.idea
/application/cache/core/
/application/cache/default/
/application/config/localhost/
/application/config/local.dev/
/vendor/autoload.php
/vendor/ccampbell/
/vendor/composer/
/vendor/meenie/
/vendor/firephp/
/vendor/dreadlokeur/
/vendor/swiftmailer/
/application/views/default/assets/bower_components/jquery/
/application/views/default/assets/bower_components/bootstrap/
/application/views/default/assets/bower_components/jquery.browser/
/application/views/default/assets/bower_components/html5shiv/
/application/views/default/assets/bower_components/respond/