body {
    margin: auto;
}

header {
    width:940px;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 100px;
}

section {
    width:940px;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5px;
    height: 350px;
}

footer {
    width:940px;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    height: 100px;
    text-align: center;
}
.hide{
    display: none;
}